body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    margin-top: 5%;
    margin-left: 26%;
    width: 600px;
    height: 377.2px;
    border:1px solid ;
    background-color: rgb(153, 113, 145);
}

.ban{
    border: 1px solid black;
    text-align: center;
    height: 12%;
    padding-top: 20px;
}

.nav{
    border: 1px solid black;
    text-align: center;
    height: 8%;
    padding-top: 9px;
    padding-bottom: 8px;
}

.content{
    border: 1px solid black;
    text-align: center;
    width: 55%;
    height: 125px;
    padding-top: 90px;
}

.box{
    width: 268px;
    height: 215px;
    border: 1.3px solid;
    margin-left: 331px;
    margin-top: -36.1%;
}

.pic{
    border: 1px solid;
    width: 26%;
    height: 65px;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 20px;
    padding-top: 40px;
}

.about{
    border: 1px solid;
    width: 38%;
    height: 74.5px;
    margin-top: -106px;
    margin-left:120px;
    padding-left: 30px;
    padding-top: 30px;
}

.recent{
    border: 1px solid;
    width: 176px;
    height: 35px;
    margin-left:6%;
    padding-top: 10px;
    padding-left: 60px;
}


.footer{
    border: 1px solid black;
    text-align: center;
    height: 9.5%;
    padding-top: 9px;
}